

<div class="well well-small">
  <h4>关于{{settings.siteName}}</h4>
  <p>独乐乐不如众乐乐，看点网---有看点，更精彩！网罗手机客户端精彩栏目</p>
  <p>本站所有文章均来自各手机客户端，文章版权归原作者所有，感谢网易/搜狐/新浪/腾讯/凤凰！</p>
  <p>如有任何建议或疑问，都欢迎电邮至：</p>
  <p><img alt="mail" src="/img/email.gif"></p>
</div>